{% extends 'contentCreator/base.html' %}

{% block content %}
    <h1>{{module.title}}</h1>
    <div>
        <h1>Lectures:</h1>
        
        {% for lecture in lectures %}
            <a href="{% url 'lecture_detail' lecture.id %}">{{lecture.title}}</a>
        {% endfor %}
            
    </div>
    <div>
        <a href="{% url 'add_lecture' pk=module.id %}">Add lecture</a>
        <a href="{% url 'update_module' module.id %}">Update Module</a>
        <a href="{% url 'delete_module' module.id %}">Delete Module</a>
    </div>
{% endblock content %}
    