{% extends 'userMathTrainer/base.html' %}
{% load static %}

{% block title %}
   Course Detail
{% endblock %}


{% block all_courses %}
{% endblock %}



{% block content %}
<div style="width: 100%;" class="f_c" style="height: 100%; overflow-y: auto;">

    <div id="course_header" class="f_r_space_around" style="">
        <div style="width: 80%; height: 100%;" class="f_r_space_around">
            <div id='header_elements_container' class="f_c_space_around">
                <div id="title_container">
                    <h1>{{course.title}}</h1>
                </div>
                <div id="description_container">
                    <h3>{{course.description}}</h3>
                </div>
                <div class="f_r_space_around" style="width: 5rem; margin-top: 1rem;">
                    <img src="{% static 'images/clock.png' %}" alt="" style="width: 20px; height: 20px;">
                    <p>{{course.course_length}} 
                        
                        {% if course.course_length > 1 %}
                            hours
                        {% else %}
                            hour
                        {% endif %}
                             </p>
                </div>
            </div>

            <div>
                <img src="{{course.course_image.url}}" alt="">
            </div>
        </div>
    </div>

    <div class="f_c" style="position: relative; left: 40rem; margin-top: 2rem;">
        {% if course.price == 0 %}
            <h1>Free</h1>
            <a href="{% url 'get_course' course.id %}" style="font-size: 25px; background: green; color: white; padding: 1rem 2rem; border-radius: 10px; margin-top: 2rem;">Buy</a>
            <a href="{% url 'to_favorites' course.id %}" style="font-size: 25px; background: rgb(1, 162, 255); color: white; padding: 1rem 2rem; border-radius: 10px; margin-top: 2rem;">To Favorites</a>

        {% else %}
            <h1>Price {{course.price}}</h1>
        {% endif %}
    </div>

    <div id="course_content_container" class="f_c_space_around">
        {{course.course_content|safe}}
        <div style="width: 100%;">
            <h1>Modules</h1>
            <div class="f_c_start" style="width: 100%;">
                {% for module in modules %}
              
                    <li style="font-size: 30px;">{{ module.title }}</li>

                <div>
                    {% for lecture in lectures %}
                        {% if lecture.course_module == module %}
                        <p style="margin-left: 2rem;">{{ lecture.title }}</p> 
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}